In [2]:
###Recommendation Engine system using Clustering | Collaborative Filtering

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os
print(os.getcwd())

C:\Users\admin\Desktop\ML Project

In [3]:
cities = pd.read_csv('C:/Users/admin/Desktop/ML Project/Cities.csv', sep=",", header=0, error_bad_lines=False, encoding='latin-1')

C:\Users\admin\AppData\Local\Temp\ipykernel_7748\553323567.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  cities = pd.read_csv('C:/Users/admin/Desktop/ML Project/Cities.csv', sep=",", header=0, error_bad_lines=False, encoding='latin-1')

In [4]:
cities['Tag2'] = ['Leisure', 'Leisure', 'Religious', 'Historical', 'Historical', 'Leisure', 'Leisure', 'Historical', 'Historical',
                 'Religious', 'Hilly', 'Leisure', 'Beaches', 'Leisure', 'Leisure', 'Beaches']
cities.head(16)

    Serial_number               City Part_of_India         Tag        Tag2
0               1              Delhi         North  Historical     Leisure
1               2           Nainital         North       Hilly     Leisure
2               3             Shimla         North       Hilly   Religious
3               4  Mathura-Vrindavan         North   Religious  Historical
4               5             Jaipur          East     Leisure  Historical
5               6               Pune          East       Hilly     Leisure
6               7                Goa          East     Beaches     Leisure
7               8            Banaras       Central   Religious  Historical
8               9             Ujjain       Central   Religious  Historical
9              10     Jhansi-Gwalior       Central  Historical   Religious
10             11            Gangtok          West     Leisure       Hilly
11             12         Darjeeling          West       Hilly     Leisure
12             13       Bhubaneshwar          West   Religious     Beaches
13             14               Ooty         South       Hilly     Leisure
14             15        Pondicherry         South     Beaches     Leisure
15             16           Thrissur         South   Religious     Beaches

In [86]:
cities['Tourism_Rank'] = [32, 16, 17, 30, 19, 20, 6, 25, 24, 36, 9, 15, 36, 18, 37, 35]
cities['Tourism_ID'] = [3, 2, 2, 5, 4, 2, 1, 5, 5, 3, 4, 2, 5, 2, 1, 5]
cities.head(16)

,Serial_number,City,Part_of_India,Tag,Tag2,Tourism_Rank,Tourism_ID
0,1,Delhi,North,Historical,Leisure,32,3
1,2,Nainital,North,Hilly,Leisure,16,2
2,3,Shimla,North,Hilly,Religious,17,2
3,4,Mathura-Vrindavan,North,Religious,Historical,30,5
4,5,Jaipur,East,Leisure,Historical,19,4
5,6,Pune,East,Hilly,Leisure,20,2
6,7,Goa,East,Beaches,Leisure,6,1
7,8,Banaras,Central,Religious,Historical,25,5
8,9,Ujjain,Central,Religious,Historical,24,5
9,10,Jhansi-Gwalior,Central,Historical,Religious,36,3
10,11,Gangtok,West,Leisure,Hilly,9,4
11,12,Darjeeling,West,Hilly,Leisure,15,2
12,13,Bhubaneshwar,West,Religious,Beaches,36,5
13,14,Ooty,South,Hilly,Leisure,18,2
14,15,Pondicherry,South,Beaches,Leisure,37,1
15,16,Thrissur,South,Religious,Beaches,35,5

In [78]:
cities.shape

(16, 7)

In [79]:
cities.columns

Index(['Serial_number', 'City', 'Part_of_India', 'Tag', 'Tag2', 'Tourism_Rank',
       'Tourism_ID'],
      dtype='object')

In [80]:
cities['Tag'].value_counts()

Hilly         5
Religious     5
Historical    2
Leisure       2
Beaches       2
Name: Tag, dtype: int64

In [81]:
cities['Tag2'].value_counts()

Leisure       7
Historical    4
Religious     2
Beaches       2
Hilly         1
Name: Tag2, dtype: int64

In [10]:
cities['Tag'].unique().shape

(5,)

In [11]:
cities['Tag2'].unique().shape

(5,)

In [12]:
x = cities['Tag'].value_counts()
y = x.index

In [13]:
y

Index(['Hilly', 'Religious', 'Historical', 'Leisure', 'Beaches'], dtype='object')

In [82]:
cities[cities['Tag'].isin(y)]

,Serial_number,City,Part_of_India,Tag,Tag2,Tourism_Rank,Tourism_ID
0,1,Delhi,North,Historical,Leisure,32,3
1,2,Nainital,North,Hilly,Leisure,16,2
2,3,Shimla,North,Hilly,Religious,17,2
3,4,Mathura-Vrindavan,North,Religious,Historical,30,5
4,5,Jaipur,East,Leisure,Historical,19,4
5,6,Pune,East,Hilly,Leisure,20,2
6,7,Goa,East,Beaches,Leisure,6,1
7,8,Banaras,Central,Religious,Historical,25,5
8,9,Ujjain,Central,Religious,Historical,24,5
9,10,Jhansi-Gwalior,Central,Historical,Religious,36,3
10,11,Gangtok,West,Leisure,Hilly,9,4
11,12,Darjeeling,West,Hilly,Leisure,15,2
12,13,Bhubaneshwar,West,Religious,Beaches,36,5
13,14,Ooty,South,Hilly,Leisure,18,2
14,15,Pondicherry,South,Beaches,Leisure,37,1
15,16,Thrissur,South,Religious,Beaches,35,5

In [123]:
cities_pivot = cities.pivot_table(columns=['Tag'], index='City', values='Tourism_ID')

In [124]:
cities_pivot

Tag                Beaches  Hilly  Historical  Leisure  Religious
City
Banaras                NaN    NaN         NaN      NaN        5.0
Bhubaneshwar           NaN    NaN         NaN      NaN        5.0
Darjeeling             NaN    2.0         NaN      NaN        NaN
Delhi                  NaN    NaN         3.0      NaN        NaN
Gangtok                NaN    NaN         NaN      4.0        NaN
Goa                    1.0    NaN         NaN      NaN        NaN
Jaipur                 NaN    NaN         NaN      4.0        NaN
Jhansi-Gwalior         NaN    NaN         3.0      NaN        NaN
Mathura-Vrindavan      NaN    NaN         NaN      NaN        5.0
Nainital               NaN    2.0         NaN      NaN        NaN
Ooty                   NaN    2.0         NaN      NaN        NaN
Pondicherry            1.0    NaN         NaN      NaN        NaN
Pune                   NaN    2.0         NaN      NaN        NaN
Shimla                 NaN    2.0         NaN      NaN        NaN
Thrissur               NaN    NaN         NaN      NaN        5.0
Ujjain                 NaN    NaN         NaN      NaN        5.0

In [125]:
cities_pivot.shape

(16, 5)

In [126]:
cities_pivot.fillna(0, inplace=True)
cities_pivot

Tag                Beaches  Hilly  Historical  Leisure  Religious
City
Banaras                0.0    0.0         0.0      0.0        5.0
Bhubaneshwar           0.0    0.0         0.0      0.0        5.0
Darjeeling             0.0    2.0         0.0      0.0        0.0
Delhi                  0.0    0.0         3.0      0.0        0.0
Gangtok                0.0    0.0         0.0      4.0        0.0
Goa                    1.0    0.0         0.0      0.0        0.0
Jaipur                 0.0    0.0         0.0      4.0        0.0
Jhansi-Gwalior         0.0    0.0         3.0      0.0        0.0
Mathura-Vrindavan      0.0    0.0         0.0      0.0        5.0
Nainital               0.0    2.0         0.0      0.0        0.0
Ooty                   0.0    2.0         0.0      0.0        0.0
Pondicherry            1.0    0.0         0.0      0.0        0.0
Pune                   0.0    2.0         0.0      0.0        0.0
Shimla                 0.0    2.0         0.0      0.0        0.0
Thrissur               0.0    0.0         0.0      0.0        5.0
Ujjain                 0.0    0.0         0.0      0.0        5.0

In [127]:
from scipy.sparse import csr_matrix

In [128]:
cities_sparse = csr_matrix(cities_pivot)
cities_sparse

<16x5 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [129]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [130]:
model.fit(cities_sparse)

NearestNeighbors(algorithm='brute')

In [131]:
distance, suggestion = model.kneighbors(cities_pivot.iloc[15,:].values.reshape(1,-1), n_neighbors=6)
distance

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        5.09901951]])

In [132]:
suggestion

array([[ 1, 15, 14,  8,  0,  5]], dtype=int64)

In [133]:
for i in range(len(suggestion)):
    print(cities_pivot.index[suggestion[i]])

Index(['Bhubaneshwar', 'Ujjain', 'Thrissur', 'Mathura-Vrindavan', 'Banaras',
       'Goa'],
      dtype='object', name='City')

In [134]:
cities_pivot.index

Index(['Banaras', 'Bhubaneshwar', 'Darjeeling', 'Delhi', 'Gangtok', 'Goa',
       'Jaipur', 'Jhansi-Gwalior', 'Mathura-Vrindavan', 'Nainital', 'Ooty',
       'Pondicherry', 'Pune', 'Shimla', 'Thrissur', 'Ujjain'],
      dtype='object', name='City')

In [135]:
cities_names = cities_pivot.index

In [136]:
import pickle
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(cities_names, open('artifacts/cities_names.pkl', 'wb'))
pickle.dump(cities, open('artifacts/cities.pkl', 'wb'))
pickle.dump(cities_pivot, open('artifacts/cities_pivot.pkl', 'wb'))

In [137]:
def recommend_cities(city_name):
    city_id = np.where(cities_pivot.index == city_name)[0][0]
    distance, suggestion = model.kneighbors(cities_pivot.iloc[city_id,:].values.reshape(1,-1), n_neighbors=6)
    
    for i in range(len(suggestion)):
        city = cities_pivot.index[suggestion[i]]
        for j in city:
            print(j)

In [138]:
np.where(cities_pivot.index == 'Darjeeling')[0][0]

2

In [144]:
city_name = 'Ujjain'
recommend_cities(city_name)

Bhubaneshwar
Ujjain
Thrissur
Mathura-Vrindavan
Banaras
Goa